.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: .1s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.scrolled {
  background: #fff;
  color: #000;
}

.left {
  font-size: 1.25rem;
}

.center {
  display: flex;
  gap: 2em;
}

.right {
  .cta {
    background: #000;
    color: #fff;
    padding: .5em .75em;
    border-radius: 100em;
  }
}
