.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: .1s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.scrolled {
  background: var(--light-color);
  color: var(--dark-color);
}

.left {
  font-size: 1.25rem;
}

.center {
  display: flex;
  gap: 2em;
}

.right {}
