.container {
  background: var(--bg-hero);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: .1s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}

.scrolled {
  background: var(--bg-base);
}

.left {
  font-size: 1.375rem;
  font-weight: 600;
}

.center {
  font-size: 1.125rem;
  display: flex;
  gap: 2em;
}

.right {}
