.container {
  // background: linear-gradient(var(--bg-hero) 70%, var(--bg-base) 100%);
  background: var(--bg-hero);
}

.content {
  display: flex;
  padding: 0 6em;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 4em 0;
  flex: 1.25;
}

.heading {
  font-size: 3rem;
}

.paragraphContainer {
  margin-top: 1.5em;
  width: 90%;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.6;

  &:not(:first-child) {
    margin-top: .25em;
  }
}

.cta {
  margin-top: 1em;
  border-radius: .5em;
  font-size: 1.25rem;
}

.portraitWithBg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.img {
  flex: .5;
  width: auto;
  height: auto;
  background: url("/images/portrait-background.png");
  background-position: center center;
  background-size: 70%;
  background-repeat: no-repeat;
}
