:root {
  --dark-color: #020202;
  --light-color: #fdfdfd;

  color: var(--black-text);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: var(--font-geist-sans);
  text-decoration: none;
}
