:root {
  --bg-base: #f2f2f2;
  --bg-hero: #e0f7fa;
  --bg-cta: #2e2e2e;

  --text-base: #333333;
  --text-cta: #f0f0f0;

  color: var(--text-base);
  background: var(--bg-base);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: var(--font-geist-sans);
  text-decoration: none;
}

button {
  cursor: pointer;
}
