.hamburger {
  background: none;
  border: none;
}

.icon {
  height: 2rem;
  width: auto;
}

.menu {
  cursor: default;
  transition: .5s;
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}
